body {
background-color: black;
background-size: cover;
background-position: center;
margin: 0;
padding: 0;
color: white;
background-attachment: fixed;
height:100%;
}
html, #root{
  height: 100%;
  margin: 0;
  padding: 0;
}
.weather {
margin-top: 50px;
text-align: center;
font-family: 'DM Sans', sans-serif;

}
.weather h2 {
font-size: 30px;
margin-bottom: 10px;
}
.weather p {
color: white;
}
.weather input {
padding: 10px;
border: none;
outline: none;
border-radius: 10px;
position: absolute;
transform: translate(-160px, -50px);
width: 250px;
background-color: white;
color: black;
}
/* .weather button{
background-color: green;
padding: 10px;
width: 100px;
margin-top : 10px;
color: black;
border: none;
outline: none;
border-radius: 10px;
} */
.leaflet-container {
  height: 500px;
  width: 100%;
  z-index: 0; /* Make sure it's visible */
}
.leaflet-control-attribution {
  display: none;
}
.loadingPage span, .loadingResults span, .loadingWeather span{
  color: white;
  animation: loading 1s infinite;
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.locations h2{
	font-size: 20px;
}
.header {
	display: flex;
	justify-content: space-around;
	margin: -50px 0 10px 0;
	background-color: white;
	color: black;
	height: 60px;
}
.header p {
	color: black;
}
#closeIcon{
	transform: translateX(130px);
}
.weatherDetails{
	color: white;
	
}
.selectButton{
	background-color: blue;
	color: white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	height: 70px;
	border: none;
	outline: none;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
}
.activeDateTab{
	background-color: green;
	color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 200px;
        height: 80px;
        border: none;
        outline: none;
        margin-right: 10px;
	font-size: 18px;
        font-weight: bold;
}
.three{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 5px;
	width: 550px;
	white-space: nowrap;
	overflow-x: auto;
	margin: 0 0 0 20px;
}
.threeDays {
  color: black;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  gap: 12px;
  padding: 16px;

  overflow-x: auto;   /* sideways scroll */
  overflow-y: hidden;
  white-space: nowrap;
}

.threeDays::-webkit-scrollbar {
  height: 6px;
}

.threeDaysDetails {
  border-radius: 10px;
  padding: 10px;
  min-width: 90px;
  text-align: center;
  flex-shrink: 0;   /* keep box size fixed */
}

.threeDaysDetails p {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 2px 0 0 20px;
}
.sevenDays {
	background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
        width: 550px;
	margin: 15px 0 0 20px;
}
.sevenDays h4, .sevenDays p{
	color: black;
	font-weight: bold;
}
.footer{
	background-color: white;
	height: 70px;
	width: auto;
	margin-top: 400px;
	color: black;
}
.footer h4 {
	margin-top: -15px;
}
